.CharListMain > ul {
  list-style-type: none;
  margin: 15px 0 0;
  padding: 0;
}

.CharList {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

body {
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.CharList > li {
  min-width: 25%;
  text-align: -webkit-center;
}
